
<h4>Please pick 4 numbers between 0-7. Find the right combination of numbers to win the game!</h4>
<h4>You will be given 10 guesses!</h4>


<% if(infoErrorsObj != "") {%>
    <div class="col-8 alert alert-danger" role="alert">
        <%= infoErrorsObj%>
    </div>
<% } %>

<form action="/game/postGuessAndHints" method="POST">
    <input type="text" id="guessNum" name="guessNum" class="form-control" placeholder="Enter a guess number">
    <button type="submit" id="guessNum" class="btn btn btn-block btn-primary">Submit</button>
</form>

<%=gameHints%>

<%=gameGuesses%>

<%=numberGuessRemaining%>



<a href="/game/randomNumbers" class="btn btn btn-block btn-primary">Play Game</a>











