
<h4 class="text-center mt-5">Please pick 4 numbers between 0-7. Find the right combination of numbers to win the game!</h4>
<h4 class="text-center my-5">You have 10 chances to guess the number.</h4>


<div class="row justify-content-center">
<% if(infoErrorsObj != "") {%>
    <div class="text-center col-6 alert alert-danger" role="alert">
        <%= infoErrorsObj%>
    </div>
<% } %>
</div>

    <div class ="row justify-content-center">
        <div class="col-md-8">
            <div class="form-outline">
                <form class="form-inline" action="/game/postGuessAndHints" method="POST">
                <div class="mx-auto col-2 my-4">
                        <input type="text" id="guessNum" name="guessNum" class="form-control" placeholder="Guess Numbers">
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-2">
                        <button type="submit" id="guessNum" class="btn btn btn-block btn-primary">Submit</button>
                    </div>
                    <div class="col-md-2">
                        <a href="/game/randomNumbers" class="btn btn btn-block btn-primary">Play New Game</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row justify-content-center my-5">
        <div class="col-3">
            <ul class="list-unstyled">
                <li class="text-center fs-5 fw-bold">Guesses Remaining</li>
                <li class="text-center"><%=numberGuessRemaining%></li>
            </ul>
        </div>
        <div class="col-3">
          <ul class="list-unstyled">
            <li class="text-center fs-5 fw-bold">Guess Number</li>
            <%for(let i = 0; i <gameGuesses.length; i++) {%>
            <li class="text-center fs-6"><%= gameGuesses[i] %></li>
            <% } %>
          </ul>
        </div>
        <div class="col-4">
          <ul class="list-unstyled">
            <li class="text-center fs-5 fw-bold">Hints</li>
            <%for(let i = 0; i <gameHints.length; i++) {%>
            <li class="text-center fs-6"><%= gameHints[i] %></li>
            <% } %>
          </ul>
        </div>
      </div>









