

<div class="text-center my-5">
    <p class="text-center fs-3 fw-bold"><%=winGameNote%></p>
</div>

<canvas id="confetti"></canvas>

<div class="text-center">
    <a href="/game/randomNumbers" class="btn btn-lg btn-block btn-primary justify-content-center">Play Again</a>
</div>